Memberships: 

* User should see link for Basic plan on home page
* User should see link for Pro plan on hom page
* Basic plan link should point to regular devise signup form
* Pro plan link should point to custom signup form (to collect payment too)
