<div class="container text-center">
  <h1>About Us</h1>
  <p>We are the Illuminati. We focus on creating an exclusive online community where members of the Illuminati can connect with each other and plan world domination.</p>
</div>
